<po-page-default p-title="GAV - Gerenciamento de Horas">
  <div class="po-row">
    <po-widget
      class="po-lg-4"
      [p-height]="285"
      p-title="Desenvolvedor"
      p-primary-label="Chamar"
      p-secondary-label="Enviar Email"
      (p-primary-action)="callContact(contact.phone)"
      (p-secondary-action)="sendContact(contact.email)"
    >
      <po-avatar
        class="po-md-4"
        p-size="lg"
        [p-src]="avatar"
        (p-click)="modal.open()"
      >
      </po-avatar>

      <div class="po-md-8">
        <p><strong>Colaborador:</strong> {{ contact.name }}</p>
        <p><strong>Telefone:</strong> {{ formatPhoneNumber(contact.phone) }}</p>
        <p><strong>E-mail:</strong> {{ contact.email }}</p>
      </div>
    </po-widget>
    <div class="po-md-4">
      <po-gauge
        [p-height]="300"
        p-title="Média de horas faturadas"
        p-value="82"
        p-description="Aumento de 12% referente aos 3 ultimos meses"
        [p-ranges]="mediaHoras"
      ></po-gauge>
    </div>
    <div class="po-md-4">
      <po-gauge
        p-title="Horas não faturadas"
        p-value="25"
        p-description="Abaixo de 10 horas"
        [p-ranges]="mediaHorasNaoFaturadas"
      ></po-gauge>
    </div>
  </div>

  <po-modal #modal p-title="Profile Image">
    <img [src]="avatar" class="sample-center-image" />
  </po-modal>
  <br />
  <div class="po-row">
    <div class="po-md-2">
      <po-calendar></po-calendar>
    </div>
    <div class="po-md-10">
		<po-table
		p-striped="true"
		[p-columns]="columns"
		[p-items]="listaTabela"> </po-table>
    </div>
  </div>
</po-page-default>
