<po-page-default p-title="Minha Home Customizada">
  <div class="po-row">
    <po-widget
      class="po-lg-4"
      [p-height]="285"
      p-title="Desenvolvedor"
      p-primary-label="Chamar"
      p-secondary-label="Enviar Email"
      (p-primary-action)="callContact(contact.phone)"
      (p-secondary-action)="sendContact(contact.email)"
    >
      <po-avatar
        class="po-md-4"
        p-size="lg"
        [p-src]="avatar"
        (p-click)="modal.open()"
      >
      </po-avatar>

      <div class="po-md-8">
        <p><strong>Name:</strong> {{ contact.name }}</p>
        <p><strong>Phone:</strong> {{ formatPhoneNumber(contact.phone) }}</p>
        <p><strong>E-mail:</strong> {{ contact.email }}</p>
      </div>
    </po-widget>
    <div class="po-md-4">
      <po-gauge
        [p-height]="300"
        p-title="Sales performance"
        p-value="82"
        p-description="The sales increased in 82% in the first bimester of 2020"
        [p-ranges]="salesRanges"
      ></po-gauge>
    </div>
    <div class="po-md-4">
      <po-gauge
        p-title="Employee turnover rate"
        p-value="25"
        p-description="25% of turnover"
        [p-ranges]="turnoverRanges"
      ></po-gauge>
    </div>
  </div>

  <po-modal #modal p-title="Profile Image">
    <img [src]="avatar" class="sample-center-image" />
  </po-modal>
</po-page-default>
