<po-page-default p-title="Meu Dashboard Customizado">
  <div class="po-row">
    <div class="po-md-12 po-lg-6">
      <div class="po-row">
        <po-chart
          class="po-md-12 po-mt-2"
          p-title="Participação por país nas exportações mundiais - %"
          [p-options]="options"
          [p-categories]="categories"
          [p-series]="participationByCountryInWorldExports"
          [p-type]="participationByCountryInWorldExportsType"
        >
        </po-chart>

        <po-chart
          class="po-md-12 po-mt-2"
          p-title="Evolução do café e alguns concorrentes - %"
          [p-options]="optionsColumn"
          [p-categories]="categoriesColumn"
          [p-series]="evolutionOfCoffeeAndSomeCompetitors"
        >
        </po-chart>
      </div>
    </div>

    <div class="po-md-12 po-lg-6">
      <po-chart
        class="po-md-12 po-mt-2"
        p-title="Ranking das bebidas mais compradas e consumidas na Alemanha entre 2018 e 2020 - em %"
        [p-height]="816"
        [p-categories]="consumptionPerCapitaItems"
        [p-series]="consumptionPerCapita"
        [p-type]="consumptionPerCapitaType"
        [p-options]="consumptionPerCapitaOptions"
      >
      </po-chart>
    </div>

    <div class="po-md-12">
      <po-chart
        class="po-lg-6 po-mt-2"
        p-title="Os 5 principais países produtores de café (em toneladas)"
        [p-series]="coffeeProduction"
        (p-series-click)="searchMore($event)"
      >
      </po-chart>

      <po-chart
        class="po-lg-6 po-mt-2"
        p-title="Os 5 principais países consumidores de café (em kg per capita)"
        [p-series]="coffeeConsumption"
        [p-type]="coffeConsumingChartType"
        (p-series-click)="showMeTheDates($event)"
      >
      </po-chart>
    </div>

    <div class="po-row">
      <po-chart
        class="po-md-6 po-mt-2"
        p-title="Enquanto o preço do café cai, as margens de lucro dessas três empresas aumentaram - (US$ milhões)"
        [p-options]="chartAreaOptions"
        [p-categories]="chartAreaCategories"
        [p-series]="chartAreaSeries"
      >
      </po-chart>

      <div class="po-md-6 po-mt-2">
        <po-widget p-height="198">
          <div class="po-font-title po-text-center po-pt-5">66 bilhões</div>
          <div class="po-text-center">
            xícaras de café são consumidas por ano nos EUA
          </div>
        </po-widget>

        <po-widget p-height="198">
          <div class="po-font-title po-text-center po-pt-5">2ª</div>
          <div class="po-text-center">commodity negociada no mundo.</div>
        </po-widget>
      </div>
    </div>
  </div>

  <div class="po-row">
    <po-container class="po-lg-12 po-mt-2">
      <div class="po-font-text-bold">
        As 10 maiores cadeias de café do mundo
      </div>

      <po-table p-container="shadow" [p-items]="items"> </po-table>
    </po-container>
  </div>
</po-page-default>
